def part_one(file_path: str):
    """[summary]

    Args:
        file_path (str): [description]

    Returns:
        [type]: [description]
    """

    # read file
    with open(file_path) as f:
        lines = f.readlines()

    return None


def part_two(file_path: str):
    """[summary]

    Args:
        file_path (str): [description]

    Returns:
        [type]: [description]
    """

    with open(file_path) as f:
        lines = f.readlines()

    return None


if __name__ == "__main__":
    print(part_one("aoc/inputs/day_{{ day_n }}.txt"))
    print(part_two("aoc/inputs/day_{{ day_n }}.txt"))
